
version: "3.8"

services:
  api:
    build: .
    container_name: portlog_api
    ports:
      - "9000:9000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: portlog_redis
    ports:
      - "6379:6379"
    restart: always
